<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <title>yaaaay</title>
</head>

<body>

  <p>this will one day be the page that shows a users to do list.</p>
  <h1><%= user.local.email %></h1>
  <div id="lists"></div>
  <!-- <% for (i=0; i<toDoList.length; i++) { %>
    <div>
      <a href="/list/<%= toDoList[i]._id%>">
        <%= toDoList[i].name %>
      </a>
    </div>
    <form action="/fun/<%= toDoList[i]._id %>" method="POST">
      <input type="text" name="editListName" value="<%= toDoList[i].name %>">
      <input type="submit" class="btn" value="Save">
    </form>
    <form action="/fun/delete/<%= toDoList[0]._id %>" method="POST">
      <input type="submit" class="btn btn-danger" value="Delete">
    </form>
  <% } %> -->
  <br><br>
  <form name="addToDo_form" action="/fun" method="POST">
    <input type="text" name="listName" placeholder="new list?">
    <input type="submit" name="submit">
  </form>

  <button id="test">test button</button>




  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--   <script src='/javascripts/handlebars.js'></script> -->
  <script src='/javascripts/main.js'></script>


</body>

</html>
