<div class="container">
  <div class="page-header text-center">
    <h1>Time To Level Up</h1>

    <div id="quote"></div>
  </div>
  <form id="newList" action="/api/lists" method="POST">
    <input type="text" name="item" id="listName" placeholder="New to-do list?">
    <input type="submit" name="submit">
  </form>
  <div id="lists" class="row">
    {{#each lists}}
    <div class="col-sm-12 list" data-list="{{ this._id }}">
      <div class="well">
        <table id="{{ this._id }}" class="table table-hover">
          <thead data-toggle="collapse" data-target="#accordion_{{ this._id }}" class="clickable">
            <th>{{ this.name }}</th>
            <div class='deleteBtn' data-list-id="{{ this._id }}">DELETE</div>
            <th colspan="2">
              <form class="form-inline newTask" name="new_task_form" action="/api/tasks/" method="POST">
                <input name="task" type="text" placeholder="New Task..." />
                <input name="listId" type="hidden" value="{{ this._id }}">

                  <select name="points" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                  <button type="submit" class="btn btn-success btn-sm">Save</button>
              </form>
            </th>
          </thead>
          <tbody id="accordion_{{ this._id }}" class="collapse tasks-list">
            {{!-- {{{ tasks }}} --}}
          </tbody>
        </table>
      </div>
    </div>
    {{/each}}
  </div>
</div>


<script>
  var userJson = {{{ user }}};
</script>
