{{#each tasks}} 
  <tr id="{{ this._id }}">
    <td>
      <div class="checkbox">
        <label>
          <input class="task-check" type="checkbox" {{#if this.done}}checked="true"{{/if}} data-task-id="{{ this._id }}">
        </label> 
      </div> 
    </td> 
    <td> 
      {{ this.item }} 
    </td> 
    <td> 
      {{ this.points }} 
    </td>
    <td>
      <form class="delete" name="delete-task-form" action="/api/tasks/{{ this._id }}" method="DELETE" data-task-id="{{ this._id }}">
        <button type="submit" class='btn btn-sm'>DELETE</button>
      </form>
    </td>
  </tr> 
{{/each}}