{{#each tasks}} 
  <div id="{{ this._id }}" class="row">
    <div class="checkbox col-xs-2">
      <label>
        <input class="task-check" type="checkbox" {{#if this.done}}checked="true"{{/if}} data-task-id="{{ this._id }}">
      </label> 
    </div> 
    <div class="col-xs-8"> 
      {{ this.item }} : {{ this.points }} 
    </div> 
    <div>
      <form class="delete col-xs-2" name="delete-task-form" action="/api/tasks/{{ this._id }}" method="DELETE" data-task-id="{{ this._id }}">
        <button type="submit" class='btn btn-sm'>X</button>
      </form>
    </div>
  </div> 
{{/each}}